body {
    font-family: Arial, Helvetica, sans-serif;
  }

.header {
    font-weight: 600;
    font-size: 2rem;
    color: #000;
}

li.recipe-item {
    font-weight: 400;
    font-size: 1.25rem;
    color: #000;
    background-color: #F4F5F5;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    list-style: none;
}

