* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
  }

.header {
    padding: 24px 16px;
    background-color: white;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    font-size: 20px;
}

.recipes-container {
    margin: 24px;
}

h1, h2 {
    font-weight: 600;
    color: #000;
}

h2.subheader {
    font-size: 1.75rem;
}

#recipe-list {
    list-style: none;
}

.recipe-item {
    width: 240px;
    height: 240px;
    display: inline-block;
    font-weight: 400;
    font-size: 1.25rem;
    color: #000;
    background-color: #F4F5F5;
    padding: 24px;
    margin-right: 24px;
}

#page-image {
    width: 600px;
    height: auto;
}

p.description {
    font-size: 1.125rem;
    color: rgba(0, 0, 0, .95);
}