body {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    padding: 24px;
  }

h1, h2 {
    font-weight: 600;
    color: #000;
}

h1.header {
    font-size: 2rem;
}

h2.subheader {
    font-size: 1.75rem;
}

li.recipe-item {
    font-weight: 400;
    font-size: 1.25rem;
    color: #000;
    background-color: #F4F5F5;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    list-style: none;
}

#page-image {
    width: 600px;
    height: auto;
}

p.description {
    font-size: 1.125rem;
    color: rgba(0, 0, 0, .95);
}